
    
.information-container{
    display: flex;

}
.information-container .content{
    width: 60%;
    

}
.information-container .content-img{
    width: 35%;
    padding: 0 20%;
    margin: 10px 30px 40px 10px;
    
}
.information-container img{
    max-height: 300px;
    width: auto;

}

